//-  Footer
footer
  .row
    .col-lg-12
      p
        a(href="/privacy-policy") Privacy Policy
        span  |  
        a(href="/terms") Terms & Conditions
        span  |  
        a(href="/support") Support

      p 
        a(href='//github.com/skeetzo',target="_blank") #{author}
        |  &copy; 2018
  //- include ../include/2257-compliance
