//-  Footer
footer(style="margin-top:100px;").text-center
  //- .row
  //-   .col-xs-12
  //-     // this is a square of 18+ text
  //-     p You must be 
  //-       strong 18 years or older 
  //-       | to use #{domain}
  .row
    .col-xs-12
      p
        a(href="/privacy-policy") Privacy Policy
        span  |  
        a(href="/terms") Terms & Conditions
        span  |  
        a(href="/support") Support
      p 
        a(href='//github.com/skeetzo',target="_blank") #{author}
        |  &copy; 2018
  //- include ../include/2257-compliance
