if (viewer)
  script.
    $(document).ready(function () {
      //- set time
      var seconds = parseInt("#{viewer.time}"); // in seconds so 60
      $("#time").text(toTime(seconds));
      $("#timeseconds").text(seconds);
      //- syncs with server every 10 seconds
      setInterval(function sync() {
        return Promise.resolve($.ajax({
          type: 'POST',
          url: '/sync',
          data: {'time':$("#timeseconds").text(),'_csrf':"#{_csrf}"},
          success: function(data) {
            //- returns {status, time, added}
            if (data.added) {
              //- alert('Time added! Added: '+(data.added/60)+' seconds');
              var seconds = parseInt(data.time),
                  time = toTime(data.added);
              $("#time").text(toTime(seconds));
              $("#timeseconds").text(seconds);
              alert('Time added! Added: '+(time.substring(0,time.indexOf('.'))));
            }
            $("#status").text(data.status);
          },
          error: function(data) {
            //- console.log('New Tip Not Found');
            window.location.replace("http://#{domain}/");
          },
        })).catch(function (reason) {
          console.log(reason);
        });
      },3000);
    });

    // time in seconds
    function toTime(seconds) {
      var days, hours, minutes;
      minutes = Math.floor(seconds / 60);
      seconds = seconds % 60;
      hours = Math.floor(minutes / 60);
      minutes = minutes % 60;
      days = Math.floor(hours / 24);
      hours = hours % 24;
      //- days = days < 10 ? "0" + days : days;
      hours = hours < 10 ? "0" + hours : hours;
      minutes = minutes < 10 ? "0" + minutes : minutes;
      seconds = seconds < 10 ? "0" + seconds : seconds;
      return days+":"+hours+":"+ minutes+":"+seconds;
    }

    function toCalendar(seconds) {
      var days, hours, minutes;
      minutes = Math.floor(seconds / 60);
      seconds = seconds % 60;
      hours = Math.floor(minutes / 60);
      minutes = minutes % 60;
      days = Math.floor(hours / 24);
      hours = hours % 24;
      return days+" day(s) "+hours+" hours "+ minutes+" minutes "+seconds+" seconds";
    }

      
