extends layout

block content

  // this is a square of video
  .row
    .col-xs-12
      video#preview(controls, autoplay, poster='/images/preview.jpg')

  // this is a cryptocurrency box & enter button
  .row
    .col-xs-12
      a(href=viewer.address)= viewer.address
      //- img(src=bitcoin_qr)

  script(src="https://cdn.bootcss.com/flv.js/1.4.0/flv.min.js")
  
  script.
    if (flvjs.isSupported()) {
      var videoElement = document.getElementById('preview');
      var flvPlayer = flvjs.createPlayer({
        type: 'flv',
        isLive: true,
        cors: true,
        url: 'http://alexdeeznuts.com:8000/live/balls.flv'
      });
      flvPlayer.attachMediaElement(videoElement);
      flvPlayer.load();
      //- flvPlayer.play();
    }