extends layout

prepend content
  // this is a square of video
  .row
    .col-xs-12
      video#preview(controls, autoplay, poster='/images/preview.jpg', width=500)

  include crypto

  append javascript
    script(src="https://cdn.bootcss.com/flv.js/1.4.0/flv.min.js")
    
    script.
      if (flvjs.isSupported()) {
        var videoElement = document.getElementById('preview');
        var flvPlayer = flvjs.createPlayer({
          type: 'flv',
          isLive: true,
          cors: true,
          url: "http://#{domain}:8000/live/stream.flv?sign=#{key}"
        });
        flvPlayer.attachMediaElement(videoElement);
        flvPlayer.load();
        //- flvPlayer.play();
      }

    script.
      $(document).ready(function () {
        //- updates time if live
        var countdown = setInterval(function () {
          var seconds = parseInt($("#timeseconds").text());
          if ($("#status").text()=="Live"&&seconds>0) {
            seconds--;
            $("#time").text(toTime(seconds));
            $("#timeseconds").text(seconds);   
          }
          else if (seconds<=0) {
            clearInterval(countdown);
            alert('Times up!');
            window.location.replace("http://#{domain}/");
          }
        },1000);
      });