extends layout

block content
	// privacy policy
	.privacy-policy
		.row.col-md-12.col-sm-10.col-xs-12
			h1 Privacy Policy
			h6 (Last amended: 6/20/2018)
			hr
			p Please read this privacy policy statement carefully. By your use of this site you will be expressly signifying that you agree with the policies and practices set forth in the present privacy policy statement and that you assent to the use of any personal information that you supply or that is collected about you as detailed in this privacy policy statement. If you do not expressly agree with all of the terms of this privacy policy statement you should not use this site.

			p The present Privacy Policy Statement details important information regarding the use and disclosure of user information and/or data gathered regarding User (“you”) and members of #{siteTitle} network (“our”, “we”, “us” the “site”) websites including but not limited to, #{domain}. In addition, this Privacy Policy sets forth all relevant policies and practices for the sites.

			h2 Use
			p This is an adult site that expressly and strictly limits its usage to adults. This site does not knowingly seek or collect any personal information or data from persons under the age of 18. All persons under the age of 18 are strictly prohibited from accessing or viewing the contents on this site without exception. If you are under the age of 18 and/or under the age of majority in the jurisdiction you reside and from which you access the website, then your account will be terminated and your IP will be banned without notice.

			h2 Information Collected From Users
			p Any customer that purchases time for the site will be required to provide personal information such as IP address(es), referring website information, browser information, and other related data may be collected, stored, and used to provide access.

			h2 Use of Personal User Information
			p The site may automatically collect traffic and click-through data as well as information regarding the online behavior of Users by the use of “cookies” or other programming means – any information about Users collected by the site through the use of cookies or other programming means will generally not be associable to the specific user in any way.

			h2 Disclaimer
			p By the User’s use of the site, the User expressly agrees that the site may use any personal information that has been provided by the User or that has been collected by the site about the User for any purpose, including without limitation, technical, administrative, research and development, customer administration, marketing, trading of personal data, age verification, promotional and advertising use by the site or third parties authorized to use the information by the site.
			| The site is not responsible or liable for the use of any information that a User may provide, or that is gathered by third-party websites that have banner ads or links on the site. The site shall not be responsible for the privacy policy or the content of other such websites. This site does not control, monitor or endorse the information gathering practices or privacy policies of any of those third-party websites.
			| Whenever applicable, each User should seek to read the privacy policy of any third-party website provider that has an advertising banner, advertises or has a link on the site.
			| All information collected may be shared when necessary to comply with applicable law and /or to cooperate with law enforcement agencies and the courts/tribunals.
			| A User’s IP address may be used to diagnose problems with the server and all other technical issues and to administer the websites.

			h2 Security of Information Collected by the Site
			p The site has adopted and implemented reasonable and technologically feasible procedures for maintaining the security, accuracy and integrity of all personal information relating to Users that is collected by the site.
			p While the website uses commercially reasonable physical, managerial and technical safeguards to preserve the integrity and security of your personal information, the transmission of information via the Internet is not completely secure. All Users should consider any information provided to or collected by the site as non-confidential, and consequently the site assumes no liability or responsibility if any information relating to any User is intercepted and/or used by an unintended recipient.

			h2 Financial Information
			p Bitcoin addresses are maintained and stored for transaction history and verification.