extends layout

block content
  // support
  .support
    .row.col-md-12.col-xs-12
      h1 Support
      hr
      h3 How Do I...
      .row.well
        h3 Add time?
        p Send Bitcoin (BTC) to the unique address generated for your ip address and time will be added once the payment has been verified!
      .row.well
        h3 Buy Bitcoin?
        p
          a(href="//blockchain.info/wallet/#/",target="_blank") Click Here
          |  to check out a popular Bitcoin wallet, Blockchain. Purchasing BTC with a credit card requires a few steps of legal verification. Once your wallet has been funded with Bitcoin the easiest method to send Bitcoin is by scanning your unique QR code with a wallet app's camera.
      .row.well
        h3 How long does it take for time to be added?
        p Practically immediately! Blockchain transactions are processed and time is added all under a minute! Try it out!
      .row.well
        h3 General Questions, Inquiries, or Feedback
        p For any further questions please send an email to: support@#{siteTitle}