extends ../layout/page

prepend content
  
  // this is a square of video
  .row
    .col-xs-12
      h3 Preview
      video(src="/videos/preview.mp4", type="video/mp4", autoplay, controls, loop, width=500)
  
  br

  include ../include/crypto-live

  br

  //- 18+ disclaimer
  .row.disclaimer
    .col-xs-12
      p You must be 
        strong 18 years or older 
        | to enter #{siteTitle}

  //- enter
  .row
    .col-xs-12
      if (message||error)
        .message
          if (message)
            h5 #{message}
          if (error)
            h5 #{error}
      a.btn.btn-primary(href='/live') Enter
      br
      br
      a.btn.btn-primary(href='/videos') Video Archive

      //- Debugging - Add Time
      button.btn.btn-primary(onclick="addTime()") Add Time

      script.
        function addTime() {
          return Promise.resolve($.ajax({
            type: 'GET',
            url: '/add',
            data: {'_csrf':"#{_csrf}"},
            success: function(data) {
              
            },
            error: function(data) {
            },
          })).catch(function (reason) {
            console.log(reason);
          });
        }