extends ../layout/page

prepend content
  // this is a square of video
  .row
    .col-xs-12
      video#live(controls, autoplay, poster='/images/preview.jpg', width=500)

  include ../include/bitcoin

  block javascript

    include ../include/flv

    //- live viewing countdown
    script.
      $(document).ready(function () {
        //- updates time if live
        var countdown = setInterval(function () {
          var seconds = parseInt($("#timeseconds").text());
          if ($("#status").text()=="Live"&&seconds>0) {
            seconds--;
            $("#time").text(toTime(seconds));
            $("#timeseconds").text(seconds);   
          }
          else if (seconds<=0) {
            clearInterval(countdown);
            alert('Times up!');
            window.location.replace("#{domain}/");
          }
        },1000);
      });