extends ../layout/page

prepend content
  // this is a square of video
  .row
    .col-xs-12
      video#live(controls, autoplay, poster='/images/preview.jpg', width=500)

  include ../include/bitcoin

 