extends ../layout/page

block content
  // support
  .support
    .row.col-md-12.col-xs-12
      h1 Support
      hr
      h3 How Do I...
      .row.well
        h3 Add time?
        p First you must generate a unique address to receive Bitcoin (BTC) at by clicking on the "Generate Address" button. Send Bitcoin (BTC) to the unique address that is generated for your account. Time will be added to your account once the transaction has been successfuly confirmed.
      .row.well
        h3 Buy Bitcoin?
        p
          a(href="//blockchain.info/wallet/#/",target="_blank") Click Here
          |  to check out a popular Bitcoin wallet, Blockchain. Purchasing BTC with a credit card requires a few steps of legal verification. Once your wallet has been funded with Bitcoin the easiest method to send Bitcoin is by scanning the unique QR code generated for your BTC address with a wallet app's camera.
      .row.well
        h3 Buy a Video?
        p Select "Buy" beneath any videos in the archive to purchase that video for full viewing and even download. The cost of the video will be the cost in seconds of the duration of the video. 
      .row.well
        h3 How long does it take for time to be added?
        p Practically immediately! Blockchain transactions are processed and time is added all within minutes.
      .row.well
        h3 General Questions, Inquiries, or Feedback
        p For any further questions please send an email to: support@#{siteTitle}