extends ../layout/page

prepend content
  h2 Videos
  p 
  // this is a list of videos
  h3 Purchased
  .row
    //- users videos
    if (videos)
      for video in videos
        .col-xs-4
          video(controls, poster='/images/'+video.title+'.jpg', type="video/mp4", width=250, src="/videos/"+video.title+".mp4")
          include ../include/crypto-vod
  h3 Archive
  .row
    //- all videos
    if (videos_all)
      for video in videos_all
        .col-xs-4
          video(controls, poster='/images/'+video.title+'.jpg', type="video/mp4", width=250, src="/videos/"+video.title+"-preview.mp4")
          include ../include/crypto-vod

prepend javascript
  script.
    function generateVoDAddress(video) {
      console.log('video: %s', video);
      return Promise.resolve($.ajax({
        type: 'GET',
        url: '/address-vod',
        data: {'_csrf':"#{_csrf}",'video':video},
        success: function(data) {
          location.reload();
        },
        error: function(data) {
          alert("Please login or create an account!");
        },
      })).catch(function (reason) {
        //- console.log(reason);
      });
    }