//- 2257 compliance statement
.row.compliance
	.col-xs-10.col-xs-offset-1
		a(href='/2257-compliance')
			strong 18 U.S.C. 2257 Compliance Statement
		p All models, actors, actresses and other persons who appear in any visual depiction of actual or simulated sexually explicit conduct on #{siteTitle} were 18 (eighteen) years of age or older when said visual depictions were created. Pursuant to Section 2257 of Title 18 of the United States Code, age verification records of all models, performers, actors, actresses and other persons who appear in actual or simulated sexually explicit conduct on this website are kept by the custodian of records: admin@#{siteTitle}
