.row
  .col-xs-12
    if (user&&user.address&&user.address_qr)
      #btc_address
        p  To Add Time, Pay >=$1 in Bitcoin (BTC) to:
        img#qrcode(src=user.address_qr,style="display:block;margin-left:auto;margin-right:auto;")
        a#address(href="bitcoin:"+user.address, target="_blank") bitcoin:#{user.address}
    else
      button.btn.btn-primary#generate(onclick="generateAddress()") Generate BTC Address

      script.
        function generateAddress() {
          return Promise.resolve($.ajax({
            type: 'GET',
            url: '/address',
            data: {'_csrf':"#{_csrf}"},
            success: function(data) {
              window.location.reload();
            },
            error: function(data) {
              if (data.status == 400)
                alert('There was an error!');
              else if (data.status == 401)
                alert("Please login or create an account!");
              else
                alert('There was an error!');
            },
          })).catch(function (reason) {
            //- console.log(reason);
          });
        }