//- flv player
script(type="text/javascript", src="/flv.js/flv.min.js")
script.
  if (flvjs.isSupported()) {
    var videoElement = document.getElementById('live');
    var flvPlayer = flvjs.createPlayer({
      type: 'flv',
      isLive: true,
      cors: true,
      url: "#{live_url}"
    });
    flvPlayer.attachMediaElement(videoElement);
    try {
      flvPlayer.load();
      flvPlayer.play();
    }
    catch (err) {
      console.log(err);
    }
  }

//- dash
//- script(src="//cdn.dashjs.org/latest/dash.all.min.js")
//- video(data-dashjs-player autoplay src="https://alexdeeznuts.com:8080/live/stream.mpd" controls)