//- flv player
script(type="text/javascript", src="/dist/flv.js/flv.min.js")
script.
  if (flvjs.isSupported()) {
    try {
      var videoElement = document.getElementById('live');
      document.getElementById('live').addEventListener('error', function (e) {console.log(e)});
      var flvPlayer = flvjs.createPlayer({
        type: 'flv',
        isLive: true,
        cors: true,
        url: "#{live_url}#{key}"
      });
      flvPlayer.attachMediaElement(videoElement);
      flvPlayer.load();
      flvPlayer.play();
    }
    catch(err) {
      console.log(err)
    }
  }

//- dash
//- script(src="//cdn.dashjs.org/latest/dash.all.min.js")
//- video(data-dashjs-player autoplay src="https://alexdeeznuts.com:8080/live/stream.mpd" controls)