script(src="//cdn.bootcss.com/flv.js/1.4.0/flv.min.js")
    
script.
  if (flvjs.isSupported()) {
    var videoElement = document.getElementById('preview');
    var flvPlayer = flvjs.createPlayer({
      type: 'flv',
      isLive: true,
      cors: true,
      url: "#{live_url}#{key}"
    });
    flvPlayer.attachMediaElement(videoElement);
    flvPlayer.load();
    //- flvPlayer.play();
  }