//- flv player
script(type="text/javascript", src="/flv.js/flv.min.js")
script.
  if (flvjs.isSupported()) {
    var videoElement = document.getElementById('live');
    try {
      console.log('creating...');
      var flvPlayer = flvjs.createPlayer({
        type: 'flv',
        isLive: true,
        cors: true,
        url: "#{live_url}"
      });
    }
    catch (err) {
      console.log(err);
    }
    try {
      console.log('attaching...');
      flvPlayer.attachMediaElement(videoElement);
    }
    catch (err) {
      console.log(err);
    }
    try {
      console.log('loading...');
      flvPlayer.load();
    }
    catch (err) {
      console.log(err);
    }
    try {
      console.log('playing...');
      flvPlayer.play();
    }
    catch (err) {
      console.log(err);
    }
  }

//- dash
//- script(src="//cdn.dashjs.org/latest/dash.all.min.js")
//- video(data-dashjs-player autoplay src="https://alexdeeznuts.com:8080/live/stream.mpd" controls)