include ../include/socket.io.pug

//- time
if (user)
  script.
    $(document).ready(function () {
      //- set time
      var seconds = parseInt("#{user.time}"); // in seconds so 60
      $("#time").text(toTime(seconds));
      $("#timeseconds").text(seconds);
    });
else
  script.
    $(document).ready(function () {
      //- set time
      var seconds = parseInt(60);
      $("#time").text(toTime(seconds));
      $("#timeseconds").text(seconds);
    });

//- helpers
script.
  function updateStatus(status) {
    var status_ = $("#status").text();
    //- console.log('status: %s -> %s', status_, status);
    $("#status").text(status);
    if (status_=="Not Live"&&status=="Live")
      alert('I\'ve gone live!');
    else if (status_=="Live"&&status=="Not Live") {
      alert('I\'ve gone offline!');
      window.location.replace("#{domain}/");
    }
  }

  // time in seconds
  function toTime(seconds) {
    var days, hours, minutes;
    minutes = Math.floor(seconds / 60);
    seconds = seconds % 60;
    hours = Math.floor(minutes / 60);
    minutes = minutes % 60;
    days = Math.floor(hours / 24);
    hours = hours % 24;
    //- days = days < 10 ? "0" + days : days;
    hours = hours < 10 ? "0" + hours : hours;
    minutes = minutes < 10 ? "0" + minutes : minutes;
    seconds = seconds < 10 ? "0" + seconds : seconds;
    //- console.log('time: %s:%s:%s:%s', days, hours, minutes, seconds);
    return days+":"+hours+":"+ minutes+":"+seconds;
  }

  function toPrice(seconds) {
    var hours, minutes;
    minutes = Math.floor(seconds / 60);
    seconds = seconds % 60;
    hours = Math.floor(minutes / 60);
    minutes = minutes % 60;
    hours = hours % 24;
    hours = hours < 10 ? "0" + hours : hours;
    minutes = minutes < 10 ? "0" + minutes : minutes;
    seconds = seconds < 10 ? "0" + seconds : seconds;
    //- console.log('price: %s:%s:%s', hours, minutes, seconds);
    return hours+":"+ minutes+":"+seconds;
  }

  //- get all .videoPrice
  //- set .value to toTime(value)
  $(document).ready(function ($) {
    $( ".videoPrice" ).each(function (i, videoEle) {
      //- console.log($(this).html().replace(' seconds',''))
      $(this).html(toPrice($(this).html()))
    });
  })

  function toCalendar(seconds) {
    var days, hours, minutes;
    minutes = Math.floor(seconds / 60);
    seconds = seconds % 60;
    hours = Math.floor(minutes / 60);
    minutes = minutes % 60;
    days = Math.floor(hours / 24);
    hours = hours % 24;
    return days+" day(s) "+hours+" hours "+ minutes+" minutes "+seconds+" seconds";
  }
