if (user)
  script.
    $(document).ready(function () {
      //- set time
      var seconds = parseInt("#{user.time}"); // in seconds so 60
      $("#time").text(toTime(seconds));
      $("#timeseconds").text(seconds);
      //- syncs with server every 10 seconds
      setInterval(function sync() {
        console.log('seconds: %s',$("#timeseconds").text());
        return Promise.resolve($.ajax({
          type: 'POST',
          url: '/sync',
          data: {'time':$("#timeseconds").text(),'_csrf':"#{_csrf}"},
          success: function(data) {
            //- returns {status, time, time_added}
            if (data.time_added) {
              var seconds = parseInt(data.time),
                  time = toTime(data.time_added);
              $("#time").text(toTime(seconds));
              $("#timeseconds").text(seconds);
              alert('Time added! Added: '+(time.substring(0,time.indexOf('.'))));
            }
            if (data.video_added) {
              alert('Video purchased! Enjoy!');
              location.reload();
            }
            updateStatus(data.status);
          },
          error: function(data) {
          },
        })).catch(function (reason) {
          //- console.log(reason);
        });
      },3000);
    });
else
  script.
    $(document).ready(function () {
      //- set time
      var seconds = parseInt(60);
      $("#time").text(toTime(seconds));
      $("#timeseconds").text(seconds);
    });

script.
  function updateStatus(status) {
    var status_ = $("#status").text();
    console.log('status: %s -> %s', status_, status);
    $("#status").text(status);
    if (status_=="Not Live"&&status=="Live")
      alert('I\'ve gone live!');
    else if (status_=="Live"&&status=="Not Live") {
      alert('I\'ve gone offline!');
      window.location.replace("#{domain}/");
    }
  }
  // time in seconds
  function toTime(seconds) {
    var days, hours, minutes;
    minutes = Math.floor(seconds / 60);
    seconds = seconds % 60;
    hours = Math.floor(minutes / 60);
    minutes = minutes % 60;
    days = Math.floor(hours / 24);
    hours = hours % 24;
    //- days = days < 10 ? "0" + days : days;
    hours = hours < 10 ? "0" + hours : hours;
    minutes = minutes < 10 ? "0" + minutes : minutes;
    seconds = seconds < 10 ? "0" + seconds : seconds;
    return days+":"+hours+":"+ minutes+":"+seconds;
  }

  function toCalendar(seconds) {
    var days, hours, minutes;
    minutes = Math.floor(seconds / 60);
    seconds = seconds % 60;
    hours = Math.floor(minutes / 60);
    minutes = minutes % 60;
    days = Math.floor(hours / 24);
    hours = hours % 24;
    return days+" day(s) "+hours+" hours "+ minutes+" minutes "+seconds+" seconds";
  }
