// login
.row
  .col-md-2.col-md-offset-5.col-sm-4.col-sm-offset-4.col-xs-6.col-xs-offset-3
    form.form-signin.login(method="post",action='/login')
      input(type="hidden",name="_csrf",value=_csrf)
      // Username / Email
      label.sr-only(for='inputUsername') Username
      input#inputUsername.form-control(name="username",type='text', placeholder='username', required='', autofocus='')
      // Password
      label.sr-only(for='inputPassword') Password
      input#inputPassword.form-control(name="password",type='password', placeholder='password', required='')
      // Sign In
      button.btn.btn-md.btn-primary(type='submit', style="margin-top:2%;") Sign Up / Login 