.row
  .col-md-2.col-md-offset-5.col-sm-6.col-sm-offset-3.col-xs-8.col-xs-offset-1
    if (user)
      //- explanation
      p To Add Time, Pay via PayPal:
      //- links
      button.btn.btn-md.btn-primary.paypal(onclick="paypal(\'5.00\')") $5.00
      button.btn.btn-md.btn-primary.paypal(onclick="paypal(\'10.00\')") $10.00
      button.btn.btn-md.btn-primary.paypal(onclick="paypal(\'20.00\')") $20.00

      script.
        //- Subscribe to Snapchat Subscription via Source and activate
        function paypal(amount) {
          return Promise.resolve($.ajax({
            type: 'POST',
            url: '/paypal',
            data: {'amount':amount,'_csrf':"#{_csrf}"},
              success: function(data) {
              },
              error: function (jqXHR) {
                if (jqXHR&&jqXHR.responseJSON&&jqXHR.responseJSON.url)
                  window.open(jqXHR.responseJSON.url, '_blank');
                else if (jqXHR&&jqXHR.responseJSON&&jqXHR.responseJSON.text)
                  alert(jqXHR.text)
                else
                  alert('There was an error!');
              }
          })).catch(function (reason) {
            console.log(reason);
          });
        }